@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@font-face {
  font-family: "NeueMontreal";
  src: url("./assets/NeueMontreal-Regular.otf");
  /* Neue Montreal is free for personal use - this is a personal portfolio, for commercial use licensing, visit: https://pangrampangram.com/products/neue-montreal?variant=32840648097846 */
}
:root {
  --black-green: #1f2a13;
  --main-green: #48512a;
  --mustard: #d3802f;
  --pale-pink: #f6ebe0;
  --purple: #564a72;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "NeueMontreal";
}
h1 {
  font-family: "Cinzel";
  font-size: 2.5rem;
  letter-spacing: 12px;
}

/* --- HEADER --- */

header nav ul {
  background-color: var(--pale-pink);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 1rem;
}
nav li {
  border-bottom: var(--pale-pink) 4px solid;
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  width: 20%;
}
nav li button {
  background: none;
  border: none;
  color: var(--black-green);
  display: block;
  font-size: medium;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}
nav li:hover {
  border-bottom: var(--main-green) 4px solid;
}
nav li:hover button,
a {
  color: var(--main-green);
  cursor: pointer;
}
nav li a {
  text-decoration: none;
}
.siteTitlePhoto {
  background-image: url(./assets/header1.jpg);
  background-position: 50% 80%;
  padding: 4rem;
}
.siteTitle {
  color: white;
  letter-spacing: 1px;
  padding: 1rem;
  text-align: center;
  text-shadow: 2px 2px 8px #000;
}

/* --- ABOUT --- */
.aboutSection {
  background-color: var(--black-green);
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 3rem;
}
.aboutSection img {
  border-radius: 1rem;
  border: solid 1rem var(--mustard);
  box-shadow: 2px 2px 8px var(--main-green);
  margin: auto;
  max-width: 35%;
}
.aboutSection h2 {
  border-bottom: var(--purple) solid 5px;
  padding: 0.6rem 0.3rem;
  width: fit-content;
}
.aboutText {
  margin: 2rem;
}
.aboutText p {
  line-height: 1.5;
}

/* --- SOCIAL ICONS --- */

.socialIcons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 2rem auto;
  padding: 1rem;
  width: 50%;
}
.socialIcons img {
  color: var(--main-green);
}

/* --- PROJECTS --- */
#projects {
  margin: 1rem;
}
#projects h2 {
  border-bottom: var(--purple) solid 5px;
  margin: 0 auto;
  padding: 0.6rem 0.3rem;
  text-align: center;
  width: fit-content;
}

/* --- SKILLS --- */

#skills {
  margin: 0 25%;
}
#skills h2 {
  border-bottom: var(--purple) solid 5px;
  padding: 0.6rem 0.3rem;
  width: fit-content;
}

.skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.skills p {
  border-radius: 7px;
  margin: 0.6rem;
  padding: 0.4rem;
}
.frontEndSkills p {
  background-color: var(--main-green);
  color: white;
}
.backEndSkills p {
  background-color: var(--mustard);
  color: white;
}
.designSkills p {
  background-color: var(--purple);
  color: white;
}
.recruiter {
  margin: 2rem 10%;
  text-align: center;
}
.recruiter span {
  color: var(--main-green);
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem auto;
}
.skillsBtns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: 0 25% 5rem;
}
.skillsBtns button {
  background-color: var(--black-green);
  border-radius: 1rem;
  border: var(--main-green) solid 2px;
  box-shadow: 2px 2px 3px #888888;
  color: white;
  cursor: pointer;
  font-weight: 700;
  padding: 1rem;
}

/* --- CONTACT --- */

#contact {
  background-color: var(--pale-pink);
  border-radius: 2rem;
  box-shadow: 3px 3px 10px var(--main-green);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 15rem;
  padding: 3rem;
  text-align: right;
}
#contact h2 {
  border-bottom: var(--purple) solid 5px;
  padding: 0.6rem 0.3rem;
  text-align: right;
  width: fit-content;
}
#contactImg {
  border-radius: 1rem;
  border: solid 1rem var(--mustard);
  box-shadow: 2px 2px 8px var(--main-green);
  margin: auto 1rem;
  max-height: 20rem;
}

/* --- FOOTER --- */
#footer {
  background-color: var(--black-green);
  color: white;
  padding: 1rem;
}
.line1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.credits {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#footer a {
  color: var(--pale-pink);
  text-decoration: none;
}
